@import 'tailwindcss';

html {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

@theme {
  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  --color-mint-500: oklch(0.72 0.11 170);
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  --color-anti-white: #2a2d34;
  --color-grey: #2a2d34;
  --color-licorish: #12242b;
  --color-anti-black: #0d1f22;
  --color-payne-grey: #3a606e;
  --color-light-grey: #c1c5d7;
  --color-tan: #d7be98;
  --color-green-black: #18251f;
  --color-new: #12242d;

  /* ocean sunset palette */
  --color-purple: #6d597a;
  --color-peach: #eaac8b;
  --color-pink: #b56576;
  --color-babyblue: #355070;
  --color-verypink: #e56b6f;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}

#socials > li {
  list-style: none;
}
